<h1>Add Friend</h1>
  <div class="col-lg-6">
    <div class="form-horizontal">
    <div class="well bs-component">
      <fieldset>
        <legend></legend>
          <div class="form-group">
            <%= form_for([@user, @friend]) do |f| %>
              <div class="col-lg-2">
                <%= f.label :name %><br>
                <%= f.text_field :name %><br><br>
                <%= f.submit "Add Friend", :class => "btn btn-primary" %>
              </div>
            <% end %>
          </div>
    </div>
    </div>
  </div>

