<div align="center"><br>
<h1>When To Wear It</h1>

  <img src="/assets/logo.png" width="100px" align="center">
</div>
<br>
<h3 align="center">Users</h3>
<br>
<% @users.each do |user| %>
  <div class="col-md-4" align="center">
    <%= link_to image_tag(user.gravatar_url), user_path(user) %><br>
    <%= link_to user.name, user_path(user) %>
  </div>

<% end %>