<div align="center"><br>
<h1>When To Wear It</h1>
  <img src="/assets/logo.png" width="100px" align="center">
  <div><br>
  <h3>Keep track of your outfits and who saw you in them </h3>
  </div>
</div>
<br>
<div align="center">
<h2><%= link_to "Sign Up", new_user_registration_path %> | 
<%= link_to "Login", new_user_session_path %></h2>
</div>
<br>
<%# @users.each do |user| %>
  <!-- <div class="col-md-4" align="center"> -->
    <%#= link_to image_tag(user.gravatar_url), user_path(user) %><br>
    <%#= link_to user.name, user_path(user) %>
  <!-- </div> -->

<%# end %>