<h1>Your Clothes</h1>

<div>
  <% @clothing_articles.each do |clothing_article| %>
    <div>
      <%= clothing_article.description %>
    </div>
    <div>
      <%= clothing_article.color %>
    </div>
    <div>
      <%= clothing_article.clothing_category.category %>
    </div><br>
  <% end %>
</div>