<br>
<h3 align="center">I don't know what to wear</h3><br>
<h2 align="center">I keep wearing the same thing</h2><br>
<h1 align="center">What should I wear?</h1>
<br>
<div align="center">Staying stylish shouldn't be a chore. Organize your wardrobe with WhenToWearIt and:<br></div>
<br>
<div class="text-center">
  <%= image_tag("/assets/high_heel.png", size: '35') %>
  See what your most-worn outfits are<br>
  <%= image_tag("/assets/high_heel.png", size: '35') %>
  Keep track of who's seen your favorite outfits and keep your style fresh<br>
  <%= image_tag("/assets/high_heel.png", size: '35') %>
  Get recommendations for new combinations based on your wardrobe<br><br>

  Intrigued? <%= link_to 'Check out a sample account.', 'http://localhost:3000/users/1'%>

</div>